.container {
    width: 500px;
    height: 500px;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
}

.box1 {
    background-color: rgb(7, 204, 7);
    left: 0;
    top: 0;
}

.box2 {
    background-color:  blue;
    left: 50px;
    top: 50px;
    z-index: 2;
}

.box3 {
    background-color:violet ;
    left: 100px;
    top: 100px;
}




